<!DOCTYPE html>
<html>
<head>
  <title>Pixelate</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!-- Hide this line for IE (needed for Firefox and others) -->
  <![if !IE]>
  <link rel="icon" href="/images/Pixelate-logo.ico" type="image/x-icon" />
  <![endif]>
  <!-- This is needed for IE -->
  <link rel="shortcut icon" href="/images/Pixelate-logo.ico" type="image/ico" />
  <link href='https://fonts.googleapis.com/css?family=Inconsolata:700' rel='stylesheet' type='text/css'>
</head>
<body>
  <% current_user ? current_user_id = current_user.id : "" %>
<script type="text/javascript">
  window.current_user_id = "<%= current_user_id %>"
</script>

<%= yield %>

</body>
</html>
