<!DOCTYPE html>
<html>
<head>
  <title>Pixelate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Inconsolata:700' rel='stylesheet' type='text/css'>
</head>
<body>
  <% current_user ? current_user_id = current_user.id : "" %>
<script type="text/javascript">
  window.current_user_id = "<%= current_user_id %>"
</script>

<%= yield %>

</body>
</html>
